services:
  main-api:
    build:
      dockerfile: Dockerfile
      target: build
    command:
      [
        "dotnet",
        "watch",
        "--project",
        "ECommerce.Presentation",
        "--no-hot-reload",
        "--launch-profile",
        "http",
      ]
    ports:
      - 5042:8080

    environment:
      ASPNETCORE_URLS: http://+:8080
      ASPNETCORE_ENVIRONMENT: Development
      Logging__LogLevel__Default: Trace
      Logging__LogLevel__Microsoft: Warning
      Logging__LogLevel__Microsoft.AspNetCore: Warning
      STRIPE_API_KEY: ${Stripe__ApiKey}
      STRIPE_WEBHOOK_SIGNATURE: ${Stripe__WebhookSignature}
      Master__Email: ${Master__Email}
      Master__Password: ${Master__Password}
      Database__Host: ${Database__Host}
      Database__Port: 5432
      Database__Database: ${Database__Database}
      Database__Username: ${Database__Username}
      Database__Password: ${Database__Password}
      MicroserviceNetworkConfig__PaymentServiceUrl: http://payment-service:8080/api
      Kafka__Servers: kafka:9092
    volumes:
      - ./ECommerce.Presentation/src:/app/ECommerce.Presentation/src
      - ./ECommerce.Infrastructure/src:/app/ECommerce.Infrastructure/src
      - ./ECommerce.Persistence/src:/app/ECommerce.Persistence/src
      - ./ECommerce.Persistence/Migrations:/app/ECommerce.Persistence/Migrations
      - ./ECommerce.Application/src:/app/ECommerce.Application/src
      - ./ECommerce.Domain/src:/app/ECommerce.Domain/src
  main-api-db-migrator:
    build:
      dockerfile: Dockerfile
      target: build
    command:
      [
        "dotnet",
        "ef",
        "database",
        "update",
        "--project",
        "ECommerce.Persistence",
      ]
    environment:
      Database__Host: main-api-postgres
      Database__Port: 5432
      Database__Database: ${Database__Database}
      Database__Username: ${Database__Username}
      Database__Password: ${Database__Password}
    volumes:
      - ./ECommerce.Presentation/src:/app/ECommerce.Presentation/src
      - ./ECommerce.Infrastructure/src:/app/ECommerce.Infrastructure/src
      - ./ECommerce.Persistence/src:/app/ECommerce.Persistence/src
      - ./ECommerce.Persistence/Migrations:/app/ECommerce.Persistence/Migrations
      - ./ECommerce.Application/src:/app/ECommerce.Application/src
      - ./ECommerce.Domain/src:/app/ECommerce.Domain/src
  main-api-postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: ${Database__Username}
      POSTGRES_PASSWORD: ${Database__Password}
      POSTGRES_DB: ${Database__Database}
