include:
  - ./PaymentService/docker-compose.yml
  - ./ProductService/docker-compose.yml
  - ./StoreService/docker-compose.yml
  - ./UserService/docker-compose.yml
  - ./OrderService/docker-compose.yml
  - ./docker-compose-debug-tools.yml

services:
  init-kafka:
    image: bitnami/kafka:4.0.0
    entrypoint: ["/scripts/kafka-create-topics.sh"]
    volumes:
      - ./scripts/kafka-create-topics.sh:/scripts/kafka-create-topics.sh
  kafka:
    image: bitnami/kafka:4.0.0
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CLUSTER_ID: 1

      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@kafka:9094"

      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: BROKER
      KAFKA_CFG_LISTENERS: BROKER://:9092,CONTROLLER://:9094
      KAFKA_CFG_ADVERTISED_LISTENERS: BROKER://kafka:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: BROKER:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"
      BITNAMI_DEBUG: yes
    ports:
      - 9092:9092
  reverse-proxy:
    image: nginx:1.29.1
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf


