payment-service:
  app:
    name: payment-service
    image: ecommercebackend-payment-service:prod
    configMaps: 
      - payment-service-config
    secrets: 
      - stripe-secret
      - payment-service-db-secret
  migrationJob:
    enabled: true
    name: payment-service-migration-job
    image: ecommercebackend-payment-service-db-migrator:prod
    backoffLimit: 15
    configMaps: 
      - payment-service-config
    secrets:
      - payment-service-db-secret
      - stripe-secret # TODO: temp

store-service:
  app:
    name: store-service
    image: ecommercebackend-store-service:prod
    configMaps: 
      - store-service-config
    secrets:
      - order-service-db-secret
  migrationJob:
    enabled: true
    name: store-service-migration-job
    image: ecommercebackend-store-service-db-migrator:prod
    backoffLimit: 15
    configMaps: 
      - store-service-config
    secrets:
      - order-service-db-secret

store-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    existingSecret: store-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: store-service-postgres
  primary:
    persistence:
    
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce

payment-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    existingSecret: payment-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: payment-service-postgres
  primary:
    persistence:
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce

kafka:
  fullnameOverride: kafka
  clusterId: 3f6c7185-aafc-4fc0-9431-e7295b3b1ec0
  image:
    repository: bitnamilegacy/kafka 
  broker:
    replicaCount: 2
    resources:
      requests:
        cpu: "2"
        memory: "6Gi"
      limits:
        cpu: "2"
        memory: "6Gi"
      