payment-service:
  app:
    name: payment-service
    image: ecommercebackend-payment-service:prod
    configMaps: 
      - payment-service-config
    secrets: 
      - stripe-secret
      - payment-service-db-secret
  migrationJob:
    enabled: true
    name: payment-service-migration-job
    image: ecommercebackend-payment-service-db-migrator:prod
    backoffLimit: 15
    configMaps: 
      - payment-service-config
    secrets:
      - payment-service-db-secret

store-service:
  app:
    name: store-service
    image: ecommercebackend-store-service:prod
    configMaps: 
      - store-service-config
    secrets:
      - store-service-db-secret
  migrationJob:
    enabled: true
    name: store-service-migration-job
    image: ecommercebackend-store-service-db-migrator:prod
    backoffLimit: 15
    configMaps: 
      - store-service-config
    secrets:
      - store-service-db-secret

order-service:
  app:
    name: order-service
    image: ecommercebackend-order-service:prod
    configMaps: 
      - order-service-config
    secrets:
      - order-service-db-secret
  migrationJob:
    enabled: false 

user-service:
  app:
    name: user-service
    image: ecommercebackend-user-service:prod
    configMaps: 
      - user-service-config
    secrets:
      - user-service-db-secret
  migrationJob:
    enabled: true
    name: user-service-migration-job
    image: ecommercebackend-user-service-db-migrator:prod
    backoffLimit: 15
    configMaps: 
      - user-service-config
    secrets:
      - user-service-db-secret

product-service:
  app:
    name: product-service
    image: ecommercebackend-product-service:prod
    configMaps: 
      - product-service-config
    secrets:
      - product-service-db-secret
  migrationJob:
    enabled: true
    name: product-service-migration-job
    image: ecommercebackend-product-service-db-migrator:prod
    backoffLimit: 15
    configMaps: 
      - product-service-config
    secrets:
      - product-service-db-secret
store-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    database: postgres
    existingSecret: store-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: store-service-postgres
  primary:
    persistence:
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce

payment-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    database: postgres
    existingSecret: payment-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: payment-service-postgres
  primary:
    persistence:
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce


product-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    database: postgres
    existingSecret: product-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: product-service-postgres
  primary:
    persistence:
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce

order-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    database: postgres
    existingSecret: order-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: order-service-postgres
  primary:
    persistence:
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce

user-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    database: postgres
    existingSecret: user-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: user-service-postgres
  primary:
    persistence:
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce

kafka:
  fullnameOverride: kafka
  clusterId: 3f6c7185-aafc-4fc0-9431-e7295b3b1ec0
  image:
    repository: bitnamilegacy/kafka 
  broker:
    replicaCount: 2
    resources:
      requests:
        cpu: "2"
        memory: "6Gi"
      limits:
        cpu: "2"
        memory: "6Gi"
      
