payment-service:
  migrationJob:
    backoffLimit: 15
  Kafka__Servers: umbrella-kafka:9092

store-service:
  migrationJob:
    backoffLimit: 15

store-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    existingSecret: store-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: store-service-postgres
  primary:
    persistence:
    
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce

payment-service-postgres:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
      enabled: true
  auth:
    existingSecret: payment-service-db-secret
    secretKeys:
      adminPasswordKey: Database__Password
  fullnameOverride: payment-service-postgres
  primary:
    persistence:
      storageClass: standard
      size: 5Gi
      accessModes:
        - ReadWriteOnce

kafka:
  fullnameOverride: kafka
  clusterId: 3f6c7185-aafc-4fc0-9431-e7295b3b1ec0
  image:
    repository: bitnamilegacy/kafka 
  broker:
    replicaCount: 2
    resources:
      requests:
        cpu: "2"
        memory: "6Gi"
      limits:
        cpu: "2"
        memory: "6Gi"
      